/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/jgit/config
/scoop/config.json
/pulse/cookie
/.idea/dictionaries
/.idea/highlightedFiles.xml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/pulse/MORPHEUS-runtime/pid
/.idea/prettier.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/configstore/snyk.json
/configstore/update-notifier-electron-builder.json
/configstore/update-notifier-npm.json
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/.name
/.idea/git_toolbox_blame.xml
/configstore/snyk.json.lock
